<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project3w.wharrynathan_tripjournal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllTripsActivity"/>
        <activity android:name=".SignupActivity"
            android:label="Create New Account"/>
        <activity android:name=".AddTripActivity"
            android:label="@string/label_addtrip"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ViewTripActivity"/>
        <activity android:name=".AddTripItemActivity"
            android:label="@string/add_memory"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ViewItemActivity"
            android:label="Memories"/>
    </application>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.project3w.wharrynathan_tripjournal.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths"/>
    </provider>

</manifest>